body{
    background: var(--vermelho);
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -50px;
    align-items: center;
    margin-top: -300px;
}
.input{
    padding: 5px;
    width: 1330px;
    height: 70px;
    background: linear-gradient(180deg, #FFFFFF 30.32%, #F5F5F5 100%);
    border: none;
    border-radius: 50px;
}
.button{
    background: var(--gray--gradient);
    height: 35px;
    width: 80px;
    border: 1px solid black;
    align-items: center;
    display: flex;
    border-radius: 20px;
    margin-top: 10px;


}
.card{
    
    height: 136.86px;
    width: 352px;
    background-color: #F6F7F9;
    border-radius: 8px;

}
.card_div1{
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 20px;
    
}
.card_div1 h4{
    text-align: left;
    margin-left: 10px;
    margin-top: 2px;
}
.poder{
    display: flex;
    gap: 19px;
    margin-left: 10px;
    margin-top: -10px;
}
.poder p{
    /* border: 3px solid black; */
    font-size: 15px;
    padding: 5px;
    margin-top: 12px;
    margin-left: -55px;
    border-radius: 30px;
}
.poder_title{
    display: flex;
    gap: 15px;
    margin-top: -10px;
    margin-left: 10px;

}

.atributo{
    display: flex;
    gap: 15px;
    margin-left: 10px;
    margin-top: -10px;
}
.atributo1{
    height: 23px;
    width: 60px;
    border-radius: 15px;
    background: var(--verde);
}
.atributo2{
    height: 23px;
    width: 60px;
    border-radius: 15px;
    background: var(--azul--claro);
}
.poke_div{
    display: flex;
    /* justify-content: flex-end; */
    z-index: 1px;
    width: 187px;
    height: 100%;
    background: var(--azul);
    
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    /* margin-right: 50px; */


}
.poke_div img{
    margin-left: 10px;
}

@media (max-width: 1300px) {
    .top{
        margin-top: -300px;

    }
    .input{
        width: 800px;
    }

}
@media (max-width: 755px) {
    .top {
        margin-top: -300px;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .input{
        width: 500px;
        padding: 10px;
        
    }
  }