body{
    background: var(--vermelho);
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.img_team{
    margin-top: -620px;
    margin-left: 80px;
}
.button{
    height: 66px;
    width: 230px;
    background-color: var(--amarelo);
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 11px;
    text-decoration: none;
   
}

@media (max-width: 1300px) {
    .section{
        margin-left: -40px;
    }
    .section img{
        width: 500px;
    }
    .img_team{
        margin-top: -260px;
        margin-left: 10px;
    }
    

}
@media (max-width: 1050px) {
    .section{
        margin-left: -40px;
    }
    .section img{
        width: 800px;
    }
    .img_team{
        margin-top: -400px;
        margin-left: 10px;
    }
  }