.container{
    display: flex;
    align-items: center;
    justify-content: center;

    /* justify-content: center; */
    /* align-items: center; */
}
.container_esq{
    display: flex;
    justify-content: center;
    /* justify-content: left; */
    flex-direction: column;
    text-align: left;
}

.title{
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 4px;
}

.paragrafo{
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    margin-top: -10px;
    width: 560px;
}
.button1{
    width: 231px;
    height: 66px;
    border-radius: 11px;

    font-weight: 700;
    font-size: 23px;
    line-height: 27px;

    display: flex;

    background-color: var(--verde);
    box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
}

.container_dir{
    display: flex; 
    align-items: center;
    justify-content: right;
    float: right;
    margin-right: -385px;
}

@media (max-width: 1050px) {
    .container_esq{
        align-items: center;
        text-align: center;
        margin-top: 180px;
    }
    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
    .container_dir{
        align-items: center;
        justify-content: center;  
        margin-top: -730px; 
        margin-right: 40px;     
    }
    
    .container_dir img{
        width: 700px;
    }
    .title{
        font-size: 40px;
        margin-top: 180px;
    }
    .header_rotas a {
      font-size: 19px;
      line-height: 22.21px;
    }
    .header_rotas{
        gap: 20px;
    }
  
    .logo img {
      width: 121px;
      height: 45px;
    }
   
  }
  @media (max-width: 880px){
    .container_esq{
        align-items: center;
        text-align: center;
        margin-top: -10px;
    }
    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
    .container_dir{
        align-items: center;
        justify-content: center;  
        margin-top: -580px; 
        margin-right: 40px;     
    }
    
    .container_dir img{
        width: 400px;
    }
  }